{% extends "base.html" %} 
{% block title %}Define Profile{% endblock %} 
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <h2>Song Profile</h2>
            {% if profile_plot != None %}
            <img src="data:image/png;base64,{{ profile_plot }}" alt="Profile Plot" class="img-fluid" style="width: 80%;"\>
            {% endif %}

            <form method="POST">
                <div class="form-group">
                    <label class="text-primary font-weight-bold" for="playlist_name">Playlist Name:</label>
                    <input type="text" class="form-control" id="playlist_name" name="playlist_name" maxlength="100" value="{{ form_data.get('playlist_name', '') }}" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Confirm Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
